doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/global.css")
    block styles 
    title #{docTitle}
  body 
    header 
        nav.nav
          ul.navContainer
            li
              a(href='/', class=(isShopActive === true ? 'active' : '')) Shop
            li 
              a(href='/admin/add-product', class=(isActive === true ? 'active' : '')) Add Product  
 
    block content 