.shop-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  width: 300px;
  box-shadow: 0 3px 10px rgb(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

header h1 {
  text-decoration: underline;
  text-align: center;
  padding: 0 6px;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px 10px 10px;
}

.product-desc {
  text-align: center;
}

.card-btn {
  margin-bottom: 10px;
}

.grid {
  margin-top: 10px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 20px;
}

.noProd {
  text-align: center;
}

.btn {
  margin: 0 6px;
}
